<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ejemplo 1</title>

    <link href="/proyecto_Gonzalez_Mauro/assets/css/miestilo.css" rel="stylesheet">

    <!-- <link href="C:\xampp\htdocs\proyecto_Gonzalez_Mauro\assets\css\miestilo.css?v=2" rel="stylesheet" > -->
</head>

<body>
    <div>
        <h1 class="titulo">Bienvenidos a Taller de Programación I</h1>
        <p class="parrafo">Hoy sólo práctico de configuración</p>
    </div>

    <nav class="menu">
        <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="https://www.google.com">Google</a></li>
        <li><a href="https://www.chatgpt.com">ChatGPT</a></li>
        <li><a href="https://virtual-moodle.unne.edu.ar">Moodle</a></li>
        <li><a href="#">Sobre nosotros</a></li>
        <li><a href="#">Contacto</a></li>
        </ul></nav>
    
    <div style="color: blue;">
        <h2> Ejemplo de div y span </h2>
        <p>
            Esto es un párrafo dentro de un div,
            <span style="color: red;"> y esto un span dentro de un párrafo.</span>
        </p>
        <p class="texto-centrado">
            Somos una empresa que se dedica a la venta de relojes de mesa y pared con diseños únicos e innovadores.
            Utilizamos materia prima de calidad. Elaboramos productos a la medida del cliente.
        </p>
    </div>


    <footer>
        <p style="color: green;">Este es el pie de página.</p>
    </footer>

</body>

</html>